# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/


# Environment
.env

# Flutter / Dart
.dart_tool/
.build/
.pub/
.pub-cache/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Android / iOS build outputs
build/
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
